@model pomoweb.ViewModels.PomoFull

@using (Ajax.BeginForm("PartialEdit", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "main",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PomoShort</legend>
            @Html.HiddenFor(model=>model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estimate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estimate)
            @Html.ValidationMessageFor(model => model.Estimate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Ajax.ActionLink("Back to List", "PartialList", new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "main"
                })
</div>

